@import "tailwindcss";

@theme {
  --color-feijoa-50: #f4f8ed;
  --color-feijoa-100: #e6f0d7;
  --color-feijoa-200: #cee2b4;
  --color-feijoa-300: #b3d28e;
  --color-feijoa-400: #90bb60;
  --color-feijoa-500: #739f43;
  --color-feijoa-600: #587e32;
  --color-feijoa-700: #44612a;
  --color-feijoa-800: #394e26;
  --color-feijoa-900: #324423;
  --color-feijoa-950: #18240f;
}

:root {
  --background: #f4f8ed;
  --foreground: #44612a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f8ed;
    --foreground: #44612a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-medium;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-xl;
  }

  h6 {
    @apply text-lg;
  }

  p {
    @apply text-base leading-relaxed;
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
